{% extends "vpn_site/layout.html" %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-danger">
        <strong>Помилки:</strong>
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}:
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


    <h2 class="mt-5">Реєстрація</h2>

    {% if message %}
        <div class="mb-3">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group col-lg-6 mb-3">
            <input class="form-control" autofocus type="text" name="username" placeholder="Ім'я користувача" required>
        </div>
        <div class="form-group col-lg-6 mb-3">
            <input class="form-control" autofocus type="text" name="first_name" placeholder="Ім'я" required>
        </div>
        <div class="form-group col-lg-6 mb-3">
            <input class="form-control" autofocus type="text" name="last_name" placeholder="Прізвище" required>
        </div>
        <div class="form-group col-lg-6 mb-3">
            <input class="form-control" type="email" name="email" placeholder="Адреса електронної пошти" required>
        </div>
        <div class="form-group col-lg-6 mb-3">
            <input class="form-control" type="password" name="password1" placeholder="Пароль" required>
        </div>
        <div class="form-group col-lg-6 mb-3">
            <input class="form-control" type="password" name="password2" placeholder="Підтвердити пароль" required>
        </div>
        <input class="btn btn-secondary mb-3" type="submit" value="Зареєструватися">
    </form>

    Вже маєте обліковий запис? <a href="{% url 'login' %}">Ввійти.</a>

{% endblock %}